[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyjwt = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
bcrypt = "*"
flask-bcrypt = "*"
sklearn = "*"
pandas = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
